html{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: 'Inter', sans-serif;
    vertical-align: baseline;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: 'Inter', sans-serif;
    vertical-align: baseline;
    line-height: 1;
    background: linear-gradient( to right, #2c2f33, #99aab5 );
}

.bg {
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.window-conteudo{
    max-width: 90rem;
    height: 100vh;
    padding: 1rem;
    scroll-behavior: smooth;
}

/*mac like bar*/
.barra-info{
    background-color: #1E1F22;
    width: 100%;
    height: 2rem;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

div.mac-bar{
    display: flex;
    align-items: center;
    width: 4rem;
    justify-content: space-between;
    height: 2rem;
    margin-left: 1rem;
}

div.mac-bar span{
    height: 12px;
    width: 12px;
    border-radius: 100px;
    cursor: pointer;
}

div.mac-bar span#red{
    background-color: #ff5f57;
}
div.mac-bar span#yellow{
    background-color: #f6b42a;
}
div.mac-bar span#green{
    background-color: #2acd43;
}


.conteudo{
    background-color: #313338;
    width: 1200px;
    border: 1px;
    height: 700px;
    display: flex;
}

aside{
    display: block;
    height: 100%;
}

/*Wrapper Conversas*/
aside div.wrapper-conversas{
    width: 13rem;
    height: 100%;
    background: #2B2D31;
}

.barra-pesquisa{
    color: white;
    font-size: 12px;
    width: 100%;
    margin: 7px;
    padding: 7px;
    border-radius: 5px;
    background-color: #1E1F22;
}

.footer-conversas{
    background-color: #1E1F22;
    width: 100%;
    height: 2rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
}

aside div.wrapper-server{
    width: 5rem;
    height: 100%;
    background: #1E1F22;
}

aside div div.sidebar {
    padding: 0.2rem 0 0 1.4rem;
}

aside div div.sidebar ul li {
    margin-top: 2rem;
    color: #949ba3;
}

aside div div.sidebar-server {
    padding: 1em;
    
}

aside div div.sidebar-server-content{
    margin-top: -30px;
    
}

aside div div.sidebar-server-content ul li {
    margin-top: 15px;
}

/*Server Items*/
.item-server{
    width: 48px;
    height: 48px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.image-server{
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

ul{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    display: block;
    list-style-type: none;
    
}

/*Sidebar info Right button*/
.sidebar-info-button{
    background-color: red;
    border:0;
    margin-left: 30em;
}


/*Central Content Wrapper*/
div.wrapper-content {
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*Content Header*/
section.header {
    background: #313338;
    display: flex;
    height: 1rem;
    padding: 1rem;
    -webkit-box-shadow: 0 4px 4px -5px #000000;
   -moz-box-shadow: 0 4px 4px -5px #000000;
        box-shadow: 0 4px 4px -5px #000000;
}

/*Sidebar Header*/
section.header-sidebar {
    background: #2B2D31;
    display: flex;
    height: 3em;
    padding: 0;
    -webkit-box-shadow: 0 4px 4px -5px #000000;
   -moz-box-shadow: 0 4px 4px -5px #000000;
        box-shadow: 0 4px 4px -5px #000000;
}

/*Name*/
.nome{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    color:rgb(255, 255, 255);
    font: inherit;
    font-weight: 600;
}

/*User Status*/
.nome-status{
    height: 10px;
    width: 10px;
    background-color: #00A561;
    border-radius: 50%;
    margin: 3px;
    margin-left: 8px;
}

section.curriculo{
    padding: 2em;
    overflow-y: scroll;
    display: block;
    margin: 0;
    border: 0;
    flex: 1;
    height: 36em;
    color: #fff
}

section.sobre{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/*App Footer*/
footer{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    z-index: 10;
}

.barra-footer{
    background-color: #1E1F22;
    width: 100%;
    height: 2rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
}

/*Messages Style*/
.mensagem {
    margin-top: 20px;
    margin-bottom: 20px;
}

.foto-mensagem{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    float: left;
}

.nome-mensagem{
    margin-top: 0;
    margin-left: 14px;
    font-weight: 600;
    color: #fff;
}

.data-mensagem {
    margin-top: 0;
    margin-left: 1em;
    color: rgb(161, 161, 161);
    font-size: small;
}

.texto-mensagem {
    margin-left: 50px;
    margin-top: 0;
    padding-top: -20;
}

hr{
    border-width: 0;
    height: 2px;
    background-color:#333538;
}

.autor-mensagem{
    display: flex;
    align-items: center;
    height: 1em;
}

/* Skill Style */
.skills{
    width: 10em;
    height: 2.5em;
    padding: 5px;
    border-radius: 8px;
    margin-left: -10px;
}

.skills-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
}

.skills-name{
    margin-top: 10px;
    padding-left: 50px;
    font-weight: 600;
}

.skills:hover{
    background-color: rgb(148, 155, 163 , 0.1);
    color:rgb(255, 255, 255 , 0.8);
}

/*Scrollbar Style*/
section.curriculo::-webkit-scrollbar {
    width: 10px;               
  }
  
  section.curriculo::-webkit-scrollbar-track {
    background: #2B2D31;        
  }
  
  section.curriculo::-webkit-scrollbar-thumb {
    background-color: #1A1B1E;  
    border-radius: 20px;       
    border: 1px solid #1A1B1E;  
  }

